@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-size: large;
    box-sizing: border-box;
    color: var(--color-7);
}

:root {
    --color-1: #121212;
    --color-2: #1d1d1d;
    --color-3: #6b6b6b;
    --color-4: #00ff40;
    --color-5: #db2727;
    --color-6: #d1d1d1;
    --color-7: rgb(245, 245, 245);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 40px;
    margin-bottom: 46px;
    background-color: var(--color-2);
    box-shadow: -1px 3px 15px -3px rgba(0,0,0,0.36);
    -webkit-box-shadow: -1px 3px 15px -3px rgba(0,0,0,0.36);
    -moz-box-shadow: -1px 3px 15px -3px rgba(0,0,0,0.36);
}

.nav-buttons {
    display: flex;
    align-items: center;
}

body {
    background-color: var(--color-1);
}

a {
    color: var(--color-6);
    text-decoration: none;
}

section {
    max-width: 500px;
    margin: 0px auto;
    box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.17);
    -webkit-box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.17);
    -moz-box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.17);
    border-radius: 30px;
    padding: 30px 60px;
    background-color: var(--color-2);
}

section h2 {
    text-align: center;
    font-size: 38px;
}

.app {
    padding: 0px 40px;
    max-width: 800px;
    margin: 0px auto;
}

.error-text {
    text-align: center;
    color: #db1010;
    font-size: 18px;
}

.btn {
    padding: 12px 26px;
    color: var(--color-7);
    background-color: #1976d2;
    font-size: 20px;
    border-radius: 6px;
    transition: all .2s ease-in-out; 
    border: none;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-nav {
    padding: 0px 20px;
}

.btn-container{
    margin: 20px 0px;
    padding: 20px;
    text-align: center;
}

.loading-container {
    position: relative;
}

.loading-container .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info {
    text-align: center;
    max-width: 60%;
    margin: 0px auto 30px auto;
    color: var(--color-3);
}

.logo a{
    font-size: 28px;
}

/* Register/Login STARTS */
.input-container {
    margin-top: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    border-radius: 6px;
    border-width: 1px;
    background-color: var(--color-6);
    color: var(--color-1);
}
/* Register/Login ENDS */

/* TODO STARTS*/
.todo-container {
    display: flex;
    margin-bottom: 50px;
    color: red;
}

.todo-input {
    max-width: 400px;
    width: 300px;
}
.todo-input input {
    background-color: var(--color-6);
    color: var(--color-1);
    border-radius: 5px;
}

.todo-object {
    display: flex;
    background-color: var(--color-2);
    margin: 16px 0px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.30);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.30);
    border-radius: 8px;
}
.MuiListItemText-root span {
    color: var(--color-7);
    font-size: 22px;
}
.MuiListItemText-root p {
    color: var(--color-6);
}
/* TODO ENDS*/

/* Footer STARTS */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}
/* Footer ENDS */

/* Fix MUI button triggering problem */ 
button > div > span, a > div > span {
    pointer-events: none;
}